<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="icon" href="/static/mytmslogo.svg" type="image/svg+xml" />
    <title>Сценарий</title>
  </head>
  <body>
    <div class="maincontainer">
      <div class="sidebar">
        <span class="logo"
          ><a href="/projects"><img src="/static/logo.svg" class="logoim" /></a
        ></span>
        <div class="linkblock">
          <a href="/profile" class="sidelink">Мой профиль</a>
          <a href="/projects" class="sidelink">Мои проекты</a>
          <a href="/settings" class="sidelink">Настройки</a>
        </div>
        <a href="/logout" class="sidelink" id="exitlink">Выход</a>
      </div>
      <div class="mainproject">
        <div class="buttonsection">
          {{if .IsAdmin}}
          <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
          {{else}}
            {{if eq .Createdby .Iduser }}
            <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
            {{end}}
          {{end}}
          <a onclick="window.dialog.showModal();" class="rectbutt">Создать</a>
        </div>
        <div class="casedisc">
            {{if .Name}}
            <div class = "namecase">{{.Name}}</div>
            {{if eq .Status 0 }}<div class="caseparam">Статус: Ожидает проверки</div>{{end}}
            {{if eq .Status 1 }}<div class="caseparam">Статус: Проверено</div>{{end}}
            {{if eq .Status 2 }}<div class="caseparam">Статус: Есть ошибки</div>{{end}}
            {{if eq .Tp 0 }}<div class="caseparam">Тип: Тест-кейс</div>{{end}}
            {{if eq .Tp 1 }}<div class="caseparam">Тип: Чек-лист</div>{{end}}
            <div class="caseparam">Шаги воспроизведения: </div>
            <div class = "discase">{{.Descritpion}}</div>
            {{else}}
            <div class="caseparam">Тестовый сценарий не существует</div>
            {{end}}
        </div>
       
          <dialog id="dialog">
            <h2>Создание проекта</h2>
            <form action="createproject" method="POST" class="projectform">
              <input
                class="txtinput"
                type="text"
                name="name"
                placeholder="Название проекта"
              />
              <textarea
                class="descriptioninput"
                name="description"
                cols="28"
                rows="5"
                placeholder="Описание проекта"
              ></textarea>
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="Войти">
                  Создать
                </button>
              </div>
            </form>
            <button
              onclick="window.dialog.close();"
              aria-label="close"
              class="x"
            >
              ❌
            </button>
          </dialog>
          <dialog id="dialog1">
            <h2>Удалить этот сценарий?</h2>
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="yes"
                  onclick="window.dialog1.close();"
                  aria-label="close">
                  Нет
                </button>
                <form action="deletesubject"  method="POST" class="projectform">
                <button class="rectbuttred" id="rb" name="but">
                  Да
                </button>
                <input type="hidden" name="idsubj" value="{{.ID}}">
                <input type="hidden" name="table" value="testcases">
                <input type="hidden" name="parent" value="{{.Project}}">
                </form>
              </div>
          </dialog>
        </div>
      </div>
    </div>
  </body>
</html>
