<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="icon" href="/static/mytmslogo.svg" type="image/svg+xml" />
    <title>Сценарий {{.Name}}</title>
  </head>
  <body>
    <div class="maincontainer">
      <div class="sidebar">
        <span class="logo"
          ><a href="/projects"><img src="/static/logo.svg" class="logoim" /></a
        ></span>
        <div class="linkblock">
          <a href="/profile/?id={{.Iduser}}" class="sidelink">Мой профиль</a>
          <a href="/projects" class="sidelink">Мои проекты</a>
          {{if .IsAdmin}}
          <a href="/settings" class="sidelink">Настройки</a>
          {{end}}
        </div>
        <a href="/logout" class="sidelink" id="exitlink">Выход</a>
      </div>
      <div class="mainproject">
        <div class="buttonsection">
          {{if .IsAdmin}}
          <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
          <a onclick="window.dialog.showModal();" class="rectbutt">Изменить</a>
          {{else}}
            {{if eq .Createdby .Iduser }}
            <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
            <a onclick="window.dialog.showModal();" class="rectbutt">Изменить</a>
            {{end}}
          {{end}}
        </div>
        <div class="casedisc">
            {{if .Name}}
            <div class = "namecase">{{.Name}}</div>
            {{if eq .Tp 0 }}<div class="caseparam">Тип: Тест-кейс</div>{{end}}
            {{if eq .Tp 1 }}<div class="caseparam">Тип: Чек-лист</div>{{end}}
            {{if eq .Status 0 }}<div class="caseparam">Статус: Ожидает проверки</div>{{end}}
            {{if eq .Status 1 }}<div class="caseparam">Статус: Проверено</div>{{end}}
            {{if eq .Status 2 }}<div class="caseparam">Статус: Есть ошибки</div>{{end}}
            {{if eq .Category 0 }}<div class="caseparam">Категория: Функциональное тестирование</div>{{end}}
            {{if eq .Category 1 }}<div class="caseparam">Категория: Нефункциональное тестирование</div>{{end}}
            {{if eq .Category 2 }}<div class="caseparam">Категория: Тестирование интерфейса</div>{{end}}
            {{if eq .Category 3 }}<div class="caseparam">Категория: Регрессионное тестирование</div>{{end}}
            <div class="caseparam">Шаги воспроизведения: </div>
            <div class = "discase">{{.Descritpionbr}}</div>
            {{else}}
            <div class="caseparam">Тестовый сценарий не существует</div>
            {{end}}
        </div>
       
          <dialog id="dialog">
            <h2>Редактирование сценария</h2>
            <form action="editsubject" method="POST" class="projectform">
              <input
              style="width: 100%;"
                class="txtinput"
                type="text"
                name="name"
                placeholder="Название проекта"
                value = "{{.Name}}"
              />
              <textarea
                class="descriptioninput"
                name="description"
                cols="50"
                rows="10"
                placeholder="Описание проекта"
              >{{.Descritpion}}</textarea>
              <div class="selectcont">
                <div class="selecttxt">Тип: </div>
                <select name="type" class="selectform">
                   <option value="0" {{if eq .Tp 0 }}selected{{end}}>Тест-кейс</option>
                   <option value="1" {{if eq .Tp 1 }}selected{{end}}>Чек-лист</option>
                </select>
              </div>
                <div class="selectcont">
                <div class="selecttxt">Статус: </div>
                <select name="status" class="selectform">
                  <option value="0" {{if eq .Status 0 }}selected{{end}}>Ожидает проверки</option>
                  <option value="1" {{if eq .Status 1 }}selected{{end}}>Проверено</option>
                  <option value="2" {{if eq .Status 2 }}selected{{end}} >Есть ошибки</option>
                </select>
                </div>
                <div class="selectcont">
                  <div class="selecttxt">Категория: </div>
                  <select name="category" class="selectform">
                    <option value="0" {{if eq .Category 0 }}selected{{end}}>Функциональное тестирование</option>
                    <option value="1" {{if eq .Category 1 }}selected{{end}}>Нефункциональное тестирование</option>
                    <option value="2" {{if eq .Category 2 }}selected{{end}}>Тестирование интерфейса</option>
                    <option value="3" {{if eq .Category 3 }}selected{{end}}>Регрессионное тестирование</option>
                  </select>
                  </div>
                <input type="hidden" name="idsubj" value="{{.ID}}">
                <input type="hidden" name="table" value="testcases">
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="Войти">
                  Изменить
                </button>
              </div>
            </form>
            <button
              onclick="window.dialog.close();"
              aria-label="close"
              class="x"
            >
              ❌
            </button>
          </dialog>
          <dialog id="dialog1">
            <h2>Удалить этот сценарий?</h2>
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="yes"
                  onclick="window.dialog1.close();"
                  aria-label="close">
                  Нет
                </button>
                <form action="deletesubject"  method="POST" class="projectform">
                <button class="rectbuttred" id="rb" name="but">
                  Да
                </button>
                <input type="hidden" name="idsubj" value="{{.ID}}">
                <input type="hidden" name="table" value="testcases">
                <input type="hidden" name="parent" value="{{.Project}}">
                </form>
              </div>
          </dialog>
        </div>
      </div>
    </div>
  </body>
</html>
