<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="icon" href="static/mytmslogo.svg" type="image/svg+xml">
    <title>Авторизация</title>
  </head>
  <body style="background-color: #EDF5E1;">
    <div class="twoflex">
      <div class="main">
        <form action="check" method="GET" class="logform">
          <div class="txtlabel" style="font-family: Roboto;">Авторизация</div>
          <input
            class="txtinput"
            type="text"
            name="login"
            placeholder="Логин"
          />
          <input
            class="txtinput"
            type="password"
            name="pass"
            placeholder="Пароль"
          />
          <div class="buttoncont">
            <button class="button" name="but">Войти</button>
          </div>
        </form>
      </div>
      <div class="container">  
        <img src="/static/wave3.svg" class="wave1" />
        <img src="/static/wave2.svg" class="wave2" />
        <img src="/static/wave1.svg" class="wave3" />
      </div>
    </div>
  </body>
</html>
