<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="icon" href="static/mytmslogo.svg" type="image/svg+xml" />
    <title>Проекты</title>
  </head>
  <body>
    <div class="maincontainer">
      <div class="sidebar">
        <span class="logo"
          ><a href="/projects"><img src="/static/logo.svg" class="logoim" /></a
        ></span>
        <div class="linkblock">
          <a href="/profile" class="sidelink">Мой профиль</a>
          <a href="/projects" class="sidelink">Мои проекты</a>
          <a href="/settings" class="sidelink">Настройки</a>
        </div>
        <a href="/settings" class="sidelink" id="exitlink">Выход</a>
      </div>
      <div class="mainproject">
        <div class="buttonsection">
          <a onclick="window.dialog.showModal();" class="rectbutt">Создать</a>
        </div>
        <div class="testlist">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Название</th>
                  <th>Вид</th>
                  <th>Статус</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{range .}}
                <tr>
                  <td><a class="tablelink" href="/case/?id={{.ID}}">{{.ID}}<a></td>
                  <td><a class="tablelink" href="/case/?id={{.ID}}">{{.Name}}</a></td>
                  {{if eq .Tp 0 }}<td>Тест-кейс</td>{{end}}
                  {{if eq .Tp 1 }}<td>Чек-лист</td>{{end}}
                  {{if eq .Status 0 }}<td>Ожидает проверки</td>{{end}}
                  {{if eq .Status 1 }}<td>Проверено</td>{{end}}
                  {{if eq .Status 2 }}<td>Не пройден</td>{{end}}
                  <td><a class="rectbutt" href="/case/?id={{.ID}}">Открыть</a></td>
                </tr>
                {{else}}
                <td colspan="5">Данных нет!</td>
                {{end}}
              </tbody>
            </table>
        </div>
       
          <dialog id="dialog">
            <h2>Создание проекта</h2>
            <form action="createproject" method="POST" class="projectform">
              <input
                class="txtinput"
                type="text"
                name="name"
                placeholder="Название проекта"
              />
              <textarea
                class="descriptioninput"
                name="description"
                cols="28"
                rows="5"
                placeholder="Описание проекта"
              ></textarea>
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="Войти">
                  Создать
                </button>
              </div>
            </form>
            <button
              onclick="window.dialog.close();"
              aria-label="close"
              class="x"
            >
              ❌
            </button>
          </dialog>
        </div>
      </div>
    </div>
  </body>
</html>
