<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="icon" href="/static/mytmslogo.svg" type="image/svg+xml" />
    <title>Проверки</title>
  </head>
  <body>
    <div class="maincontainer">
      <div class="sidebar">
        <span class="logo"
          ><a href="/projects"><img src="/static/logo.svg" class="logoim" /></a
        ></span>
        <div class="linkblock">
          <a href="/profile/?id={{.Id}}" class="sidelink">Мой профиль</a>
          <a href="/projects" class="sidelink">Мои проекты</a>
          {{if .IsAdmin}}
          <a href="/settings" class="sidelink">Настройки</a>
          {{end}}
        </div>
        <a href="/logout" class="sidelink" id="exitlink">Выход</a>
      </div>
      <div class="mainproject">
        <div class="buttonsection">
          {{if .IsAdmin}}
          <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
          <a onclick="window.dialog2.showModal();" class="rectbutt">Изменить</a>
          {{else}}
            {{if eq .Createdby .Id }}
            <a onclick="window.dialog1.showModal();" class="rectbuttred">Удалить</a>
            <a onclick="window.dialog2.showModal();" class="rectbutt">Изменить</a>
            {{end}}
          {{end}}
          <a onclick="window.dialog.showModal();" class="rectbutt">Создать</a>
        </div>
        <div class="datasection">
          <div style="font-weight: bold; font-size: 26px; margin-bottom: 0.3em;">{{.ProjName}}</div>
          <div class="dataline">Функциональные тесты: Успешные: {{.FnArrSt.Success}}%, Проваленные: {{.FnArrSt.Failed}}%, Ждут проверки {{.FnArrSt.Waiting}}%</div>
          <div class="dataline">Нефункциональные тесты: Успешные: {{.NfnArrSt.Success}}%, Проваленные: {{.NfnArrSt.Failed}}%, Ждут проверки {{.NfnArrSt.Waiting}}%</div>
          <div class="dataline">Тесты интерфейса: Успешные: {{.IntArrSt.Success}}%, Проваленные: {{.IntArrSt.Failed}}%, Ждут проверки {{.IntArrSt.Waiting}}%</div>
          <div class="dataline">Регрессионные тесты: Успешные: {{.RegrArrSt.Success}}%, Проваленные: {{.RegrArrSt.Failed}}%, Ждут проверки {{.RegrArrSt.Waiting}}%</div>
        </div>
        <div class="testlist">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Название</th>
                  <th>Вид</th>
                  <th>Статус</th>
                  <th>Категория</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{range .CasePg}}
                <tr>
                  <td><a class="tablelink" href="/case/?id={{.ID}}">{{.ID}}<a></td>
                  <td><a class="tablelink" href="/case/?id={{.ID}}">{{.Name}}</a></td>
                  {{if eq .Tp 0 }}<td>Тест-кейс</td>{{end}}
                  {{if eq .Tp 1 }}<td>Чек-лист</td>{{end}}
                  {{if eq .Status 0 }}<td>Ожидает проверки</td>{{end}}
                  {{if eq .Status 1 }}<td>Проверено</td>{{end}}
                  {{if eq .Status 2 }}<td>Есть ошибки</td>{{end}}
                  {{if eq .Category 0 }}<td>Функциональное тестирование</td>{{end}}
                  {{if eq .Category 1 }}<td>Нефункциональное тестирование</td>{{end}}
                  {{if eq .Category 2 }}<td>Тестирование интерфейса</td>{{end}}
                  {{if eq .Category 3 }}<td>Регрессионное тестирование</td>{{end}}
                  <td><a class="rectbutt" href="/case/?id={{.ID}}">Открыть</a></td>
                </tr>
                {{else}}
                <td colspan="5">Данных нет!</td>
                {{end}}
              </tbody>
            </table>
        </div>
       
          <dialog id="dialog">
            <h2>Создание cценария проверки</h2>
            <form action="createcase" method="POST" class="projectform">
              <input
               style="width: 100%;"
                class="txtinput"
                type="text"
                name="name"
                placeholder="Название"
                
              />
              <textarea
                class="descriptioninput"
                name="description"
                cols="50"
                rows="10"
                placeholder="Шаги воспроизведения"
              ></textarea>
              <div class="selectcont">
              <div class="selecttxt">Тип: </div>
              <select name="type" class="selectform">
                 <option value="0">Тест-кейс</option>
                 <option value="1">Чек-лист</option>
              </select>
            </div>
              <div class="selectcont">
              <div class="selecttxt">Статус: </div>
              <select name="status" class="selectform">
                <option value="0">Ожидает проверки</option>
                <option value="1">Проверено</option>
                <option value="2">Есть ошибки</option>
              </select>
              </div>
              <div class="selectcont">
                <div class="selecttxt">Категория:</div>
                <select name="category" class="selectform">
                  <option value="0">Функциональное тестирование</option>
                  <option value="1">Нефункциональное тестирование</option>
                  <option value="2">Тестирование интерфейса</option>
                  <option value="3">Регрессионное тестирование</option>
                </select>
                </div>
             <input type="hidden" name="parent" value="{{.Idproj}}">
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="Войти">
                  Создать
                </button>
              </div>
            </form>
            <button
              onclick="window.dialog.close();"
              aria-label="close"
              class="x"
            >
              ❌
            </button>
          </dialog>
          <dialog id="dialog1">
            <h2>Удалить этот проект?</h2>
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="yes"
                  onclick="window.dialog1.close();"
                  aria-label="close">
                  Нет
                </button>
                <form action="deletesubject"  method="POST" class="projectform">
                <button class="rectbuttred" id="rb" name="but">
                  Да
                </button>
                <input type="hidden" name="idsubj" value="{{.Idproj}}">
                <input type="hidden" name="table" value="projects">
                </form>
              </div>
          </dialog>
          <dialog id="dialog2">
            <h2>Редактирование проекта</h2>
            <form action="editsubject" method="POST" class="projectform">
              <input
              class="txtinput"
              type="text"
              name="name"
              placeholder="Название проекта"
              value="{{.ProjName}}"
            />
            <textarea
              class="descriptioninput"
              name="description"
              cols="28"
              rows="5"
              placeholder="Описание проекта"
            >{{.ProjDesc}}</textarea>
            <input type="hidden" name="idsubj" value="{{.Idproj}}">
                <input type="hidden" name="table" value="projects">
              <div class="buttoncont">
                <button class="rectbutt" id="rb" name="but" value="Войти">
                  Изменить
                </button>
              </div>
            </form>
            <button
              onclick="window.dialog2.close();"
              aria-label="close"
              class="x"
            >
              ❌
            </button>
          </dialog>
        </div>
      </div>
    </div>
  </body>
</html>
